body{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 50px;
    margin: 0;
    width: 100%;
    height: 100%;

}

:root{
    --primary: #4a3899;
    --background: #b3c8e6;
    --subbackground: #f3f9fb;
    --neutral: #ececec;
    --highlight: orange;
    --secondary: #4ea8e4;
    --inputfocus: #dadddf;
    --buttonfocus: #fdfdfd;
}

#overlay {
    position: absolute; 
    width: 100%; 
    height: 100%;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-image:
linear-gradient(to bottom, rgba(26, 22, 25, 0.73), rgba(48, 20, 41, 0.73)),
url('Quick-credit/../UI/img/loan.jpg');
    background-size: cover;
    background-attachment: fixed;
    z-index: -1; 
  }
    

#home-navbar{
height: 50px;
width: 100%;
position: fixed;
top: 0;
left: 0;
background-color: var(--primary);
padding: 20px 0;
font-family: 'Montserrat', sans-serif;
overflow: hidden;
}

.right{
    float: right;

}
.navbutton a{
    color: var(--background);
}


.nav-brand{
font-family: 'Gugi', cursive;
font-size: 20px;
}
span{
color: var(--highlight);
}

nav ul{
list-style-type: none;
text-decoration: none;
}

nav ul li{
padding: 20px;
color: var(--background);
display: inline;
text-decoration: none;
text-align: center;
margin: 5px;
}

nav ul .nav-items a{
text-decoration: none;
outline: none;
color: var(--neutral);
}

a{
    text-decoration: none;
}

nav ul .nav-items a:hover{
border-bottom: 2px solid var(--neutral);
}


#hero-section{
    width: 100vw;
    height: 100%;
    color: white;
}

.left-content{
    margin-top: 13%;
    margin-left: 10%;
}

h1{
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    color: var(--highlight);
    padding: 0;
    margin-bottom: 5px;
}

p{
    font-size: 25px;
    line-height: 1.5em;
}


#register-quick{
    width: 150px;
    height: 60px;
    background: none;
    border: 2px solid var(--highlight);
    color: rgb(241, 207, 16);
    font-size: 20px;
}

#register-quick:hover{
    background-color: var(--neutral);
    border: 2px solid var(--highlight);
    color: var(--primary);
}

@media screen and (max-width: 500px){

    .nav-items{
        display: none;
    }
    .left-content{
        width: fit-content;
        margin: 45% auto;
        text-align: center
    }
    
    h1{
        font-size: 30px;
        font-family: 'Montserrat', sans-serif;
        color: var(--highlight);
        padding: 0;
        margin-bottom: 5px;
    }
    
    p{
        font-size: 15px;
        line-height: 1.5em;
    }
}