body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
    color: #494ca2;
}

#overlay {
    position: absolute; 
    width: 100%; 
    height: 100%;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-image:
linear-gradient(to bottom, rgba(26, 22, 25, 0.73), rgba(48, 20, 41, 0.73)),
url('/UI/img/up.jpg');
    background-size: cover;
    background-attachment: fixed;
    z-index: -1; 
  }

.signin-view{
    height: 100vh;
    padding: 50px 5px 20px 5px;
    position: relative;
    margin: auto;
    
}

.signin-form-container{
    width: 400px;
    margin: auto;
    border-radius: 10px;
    background-color: #eeeeee;
    padding-top: 10px;
    margin-top: 8%;
}


form .input-div input{
    width: 80%;
    height: 40px;
    color: #494ca2;
    outline: none;
    font-size: 18px;
    margin: 5px auto;
    padding: 5px;
    text-align: left !important;
}

input:focus{
    border: 1px solid #494ca2;
}

form{
    margin: auto;
    padding: 5px;
    text-align: center;
}

h1{
    text-align: center;
    padding: 10px;
}

.login-button{
    width: 83%;
    outline: none;
    border: none;
    height: 70px;
    background-color: #494ca2;
    color: #e3e7f1;
    font-weight: 300;
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
}

.login-button:hover{
    background-color: #252750;
}

.create-account-link{
    text-align: center;
    margin: auto;
    font-size: 18px;
    color: #7f7c8d;
    text-decoration: none;
}

 a{
    text-decoration: none;
    outline: none;
    color: #585974;
    text-decoration: none;
}

a:hover{
    color: #252750;
}

p #admin-login-link{
    padding: 10px;
}

.footer{
    text-align: center;
    color: #e3e7f1;
    margin-bottom: 5px;
}

/** Media queries for responsiveness **/
@media screen and (max-width: 400px) {
    .signin-form-container {
      max-width: 300px;
      margin: auto;
      margin-top: 20%;
      background: none;
      border: 1px solid #494ca2;
    }

    a{
        text-decoration: none;
        outline: none;
        color: #e3e7f1;
        text-decoration: none;
    }

    form .input-div input{
        width: 80%;
    }

    .login-button{
        width: 85%;
        padding: 5px;
    }
  }
