body{
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
    text-align: center;
    color: black;
}

#overlay {
    position: absolute; 
    width: 100%; 
    height: 100vh;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-image:
linear-gradient(to bottom, rgba(26, 22, 25, 0.73), rgba(48, 20, 41, 0.73)),
url('/UI/img/up.jpg');
    background-size: cover;
    background-attachment: fixed;
    z-index: -1; 
  }


.signup-view{
    width: 100%;
    height: 100vh;
    padding-top: 8%;
    position: relative;
    
}

.signup-form-container{
    width: 500px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    background-color: #eeeeee;
    padding: 10px;

}

h1{
    color: #494ca2;
}

form{
    margin: auto;
}

form .row{
    display: flex;
    flex-direction: row;
    padding: 0;
}


.form-group .row input{
    height: 40px;
    width: 45%;
    margin: 5px auto;
    background-color: white;
    border: none;
    color: #2c2d3d;
    padding: 2px;
    outline: none;
}

.form-group .row input:focus{
    border: 1px solid #494ca2;
}

.form-group .single-row input{
    height: 40px;
    width: 95%;
    margin: 5px auto;
    background-color: white;
    border: none;
    color: #2c2d3d;
    padding: 2px;
    outline: none;
}

form-group .single-row input:focus{
    border: 1px solid #494ca2;
}

.submit-button{
    width: 96%;
    height: 60px;
    text-align: center;
    border:none;
    background-color: #494ca2;
    color: #e3e7f1;
    font-weight: 300;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    margin: 5px 0;

}

.submit-button:hover{
    background-color: #252750;
}


.login-link{
    text-align: center;
    color: rgb(68, 67, 67);
    font-size: 18px;
}

.login-link p a{
    text-decoration: none;
    outline: none;
    color: rgb(76, 70, 102);
}

.login-link p a:hover{
    color: #252750;
}

.footer{
    color: #e3e7f1;
}


/** Media queries for responsiveness **/
@media screen and (max-width: 540px) {
    .signup-form-container{
        min-width: 300px;
        margin: auto;
        text-align: center;
        border-radius: 10px;
        background-color: #eeeeee;
        padding: 5px;
    
    }

    form{
        margin: auto;
    }
    
    form .row{
        display: flex;
        flex-direction: column;
    }
    
    
    .form-group .row input{
        height: 40px;
        width: 80%;
        margin: 5px auto;
        background-color: white;
        border: none;
        color: #2c2d3d;
        padding: 2px;
        outline: none;
    }
    
    .form-group .row input:focus{
        border: 1px solid #494ca2;
    }
    
    .form-group .single-row input{
        height: 40px;
        width: 80%;
        margin: 5px auto;
        background-color: white;
        border: none;
        color: #2c2d3d;
        padding: 2px;
        outline: none;
    }
    
    form-group .single-row input:focus{
        border: 1px solid #494ca2;
    }
    
    .submit-button{
        width: 80%;
        height: 60px;
        text-align: center;
        border:none;
        background-color: #494ca2;
        color: #e3e7f1;
        font-weight: 300;
        font-size: 20px;
        outline: none;
        cursor: pointer;
        margin: 5px 0;
    
    }
  }

  @media screen and (max-width: 530px) {
    .signup-form-container{
        width: 300px;
        margin: auto;
        text-align: center;
        border-radius: 10px;
        background: none;
        border: 1px solid #494ca2;
        padding: 5px;
    
    }

    form{
        margin: auto;
    }
    
    form .row{
        display: flex;
        flex-direction: column;
    }
    
    
    .form-group .row input{
        height: 40px;
        width: 80%;
        margin: 5px auto;
        background-color: white;
        border: none;
        color: #2c2d3d;
        padding: 2px;
        outline: none;
    }
    
    .form-group .row input:focus{
        border: 1px solid #494ca2;
    }
    
    .form-group .single-row input{
        height: 40px;
        width: 80%;
        margin: 5px auto;
        background-color: white;
        border: none;
        color: #2c2d3d;
        padding: 2px;
        outline: none;
    }
    
    form-group .single-row input:focus{
        border: 1px solid #494ca2;
    }
    
    .submit-button{
        width: 81%;
        height: 60px;
        text-align: center;
        border:none;
        background-color: #494ca2;
        color: #e3e7f1;
        font-weight: 300;
        font-size: 20px;
        outline: none;
        cursor: pointer;
        margin: 0;
        padding: 5px;
    
    }

    p{
        color: #a89fc0
    }
     .login-link p a{
        color: #cad4f0
    }
    .login-link p a:hover{
        color: #a89fc0
    }
  }

